/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.App{
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo{
  margin-top: 100px;
}

.App-title{
  color: white;
}

.App-additem{
  color: white;
}

.Input-text{
  width: 500px;
  height: 35px;
  border-radius: 10px;
  outline-width: 0;
  border-color: #ffffff;
}

.Input-text:focus{
  outline-width: 0;
  border-color: #61DBFB;
}

.add-btn{
  margin-left: 10px;
  height: 40px;
  width: 100px;
  background-color: #61DBFB;
}

.ul-style{
  list-style: none;
  padding-left: 0px;
}

.list-element{
  background-color: white;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  border-radius: 10px;
  padding-top: 15px;
  margin-bottom: 15px;
}

.delete-btn{
  margin-left: 200px;
  background-color: red;
}